@font-face {
    font-family: Formula1-Regular;
    src: url('../fonts/Formula1-Regular.otf') format('opentype');
}

/*GLOBAL*/
body {
    font-family: Formula1-Regular;
}

.container-fluid {
    padding: 0;
}


/*NAVIGATION*/
.navbar {
    padding-left: 0;
}

.nav-global {
    background: #fff;
    padding: 10px 0;
}

    .nav-global a {
        color: #000;
        font-size: 0.8rem;
    }

.nav-bronze, .nav-silver {
    margin: 5px 7px 0;
}

.nav-bronze:hover {
    color: #cd7f32;
}

.nav-silver:hover {
    color: #c2bdb0;
}


.logo-global {
    height: 30px;
    padding: 0 20px;
}

.navcontent {
    background-color: #e10600;
    
}

.logo {
    margin: 5px;
}

.event-tracker {
    background: #000;
    color: white;
    margin-top: 110px;
    padding: 5px 0;
}

/*CLOCK*/
.clock-placeholder {
    background-color: #1f1f27;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.clock {
    display: flex;
    justify-content: center;
}

.days,
.hours,
.minutes,
.seconds {
    margin: 10px;
}

.clock-header {
    margin: 0;
    padding: 2% 0 0;
}


