@{
    ViewBag.Title = "About";
}

<br />
<h2>@ViewBag.Message</h2>

<div class="about">
    <p>Project is built using MVC5 and Entity Framework 6</p>
    <h3>To do:</h3>
    <ul>
        <li>Driver stats</li>
        <li>Race management</li>
        <li>Some code refactoring</li>
        <li>Migrate to CORE and Web API</li>
    </ul>
</div>

